__pycache__/
processed_cornell_movie_dialogs_data/
data/
venv/
logs/cornell_movie_dialogs
logs/check_tiny/model.ckpt-7002*
logs/check_tiny/model.ckpt-8002*
logs/check_tiny/model.ckpt-9002*
/Dockerfile~
